<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/doc.min.css">
    <style>
        .tree li {
            list-style-type: none;
            cursor:pointer;
        }
    </style>
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <div><a class="navbar-brand" style="font-size:32px;" href="user.html">教育平台 - 修改讲师</a></div>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li style="padding-top: 8px;">
                    <div class="btn-group">
                        <button type="button"
                                class="btn btn-default btn-success dropdown-toggle"
                                data-toggle="dropdown">
                            <i class="glyphicon glyphicon-user"></i>
                            张三<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#"><i class="glyphicon glyphicon-cog"></i>
                                个人设置</a></li>
                            <li><a href="#"><i class="glyphicon glyphicon-comment"></i>
                                消息</a></li>
                            <li class="divider"></li>
                            <li><a href="${APP_PATH }/logout.do"><i
                                    class="glyphicon glyphicon-off"></i> 退出系统</a></li>
                        </ul>
                    </div>
                </li>
                <li style="margin-left: 10px; padding-top: 8px;">
                    <button type="button" class="btn btn-default btn-danger">
                        <span class="glyphicon glyphicon-question-sign"></span> 帮助
                    </button>
                </li>
            </ul>
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search...">
            </form>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div th:include="treeInfo"></div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <ol class="breadcrumb">
                <li><a href="#">首页</a></li>
                <li><a href="#">数据列表</a></li>
                <li class="active">新增</li>
            </ol>
            <div class="panel panel-default">
                <div class="panel-heading">表单数据<div style="float:right;cursor:pointer;" data-toggle="modal" data-target="#myModal"><i class="glyphicon glyphicon-question-sign"></i></div></div>
                <div class="panel-body">
                    <form id="updateForm" action="http://localhost:9002/teacher/doUpdate" method="post" enctype="multipart/form-data">
                        <div  class="form-group">
                            <label type="hidden" for="id"></label>
                            <input th:value="${teacher.id}" type="hidden" class="form-control" id="id" name="id" placeholder="请输入讲师名称">
                        </div>
                        <div class="form-group">
                            <label for="name">讲师名称</label>
                            <input th:value="${teacher.name}" type="text" class="form-control" id="name" name="name" placeholder="请输入讲师名称">
                        </div>
                        <div class="form-group">
                            <label for="education">讲师资历</label>
                            <input th:value="${teacher.education}" type="text" class="form-control" id="education" name="education" placeholder="请输入讲师资历">
                        </div>
                        <div class="form-group">
                            <label for="subjectId">讲师专业</label>
                            <select id="subjectId"  name="subjectId" >
                                <div th:each="subject:${sysSubjectList}">
                                    <option th:selected="${teacher.subjectId==subject.subjectId}" th:value="${subject.subjectId}" th:text="${subject.subjectName}"></option>
                                </div>
                            </select>
                        </div><div class="form-group">
                            <label for="isStar">讲师等级</label>
                            <select id="isStar"  name="isStar" >
                                <option th:selected="${teacher.isStar==1}" th:value="1" th:text="高级讲师"></option>
                                <option th:selected="${teacher.isStar==2}" th:value="2" th:text="首席教师"></option>
                            </select>
                        </div>
                        <div class="form-group" >
                            <label for="sort">讲师排序</label>
                            <input th:value="${teacher.sort}" type="text" class="form-control" id="sort" name="sort" placeholder="请输入讲师排序">
                        </div>
                        <div class="form-group">
                            <label for="career">讲师简介</label>
                            <input th:value="${teacher.career}" type="text" class="form-control" id="career" name="career" placeholder="请输入讲师简介">
                        </div>
                        <div class="form-group">
                            <label for="teacherPic">讲师头像</label>
                            <input type="file" class="form-control" id="teacherPic" name="teacherPic" placeholder="请添加讲师头像">
                            <img th:src="${teacher.picPath}" style="width:200px;height: 240px" >
                        </div>
                        <button id="updateBtn" type="button" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i> 提交</button>
                        <button id="resetBtn" type="button" class="btn btn-danger"><i class="glyphicon glyphicon-refresh"></i> 重置</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">帮助</h4>
            </div>
            <div class="modal-body">
                <div class="bs-callout bs-callout-info">
                    <h4>测试标题1</h4>
                    <p>测试内容1，测试内容1，测试内容1，测试内容1，测试内容1，测试内容1</p>
                </div>
                <div class="bs-callout bs-callout-info">
                    <h4>测试标题2</h4>
                    <p>测试内容2，测试内容2，测试内容2，测试内容2，测试内容2，测试内容2</p>
                </div>
            </div>
            <!--
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
            -->
        </div>
    </div>
</div>
<script src="/jquery/jquery-2.1.1.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/script/docs.min.js"></script>
<script src="/jquery/layer/layer.js"></script>
<script src="/jquery/jquery-form.min.js"></script>
<script type="text/javascript">
    $(function () {
        $(".list-group-item").click(function(){
            if ( $(this).find("ul") ) {
                $(this).toggleClass("tree-closed");
                if ( $(this).hasClass("tree-closed") ) {
                    $("ul", this).hide("fast");
                } else {
                    $("ul", this).show("fast");
                }
            }
        });
    });
    //重置数据
    $("#resetBtn").click(function(){
        $("#updateForm")[0].reset();
    });
    //同步提交
    /*$(function(){
        $("#addBtn").click(function(){                            
                $("#updateForm").attr("action","${APP_PATH}/advert/doAdd.do");
                $("#updateForm").submit();
            });        
     }); */

    //异步提交
    $(function () {
        $("#updateBtn").click(function(){

            var options = {
                url:"/teacher/doUpdate",
                beforeSubmit : function(){
                    return true ; //必须返回true,否则,请求终止.
                },
                success : function(result){
                    if(result.success){
                        window.location.href="http://localhost:9002/teacher/list";
                    }else{
                        alert(result.message)
                    }
                }
            };
            //通过jquery的form表单异步提交表单
            $("#updateForm").ajaxSubmit(options);
            return ;
        });
    });

</script>
</body>
</html>