<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <style>
        .tree li {
            list-style-type: none;
            cursor: pointer;
        }

        table tbody tr:nth-child(odd) {
            background: #F4F4F4;
        }

        table tbody td:nth-child(even) {
            color: #C00;
        }
    </style>
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <div><a class="navbar-brand" style="font-size:32px;" href="#">教育平台 - 课程管理</a></div>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li style="padding-top:8px;">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-success dropdown-toggle"
                                data-toggle="dropdown">
                            <i class="glyphicon glyphicon-user"></i> 张三 <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#"><i class="glyphicon glyphicon-cog"></i> 个人设置</a></li>
                            <li><a href="#"><i class="glyphicon glyphicon-comment"></i> 消息</a></li>
                            <li class="divider"></li>
                            <li><a href="index.html"><i class="glyphicon glyphicon-off"></i> 退出系统</a></li>
                        </ul>
                    </div>
                </li>
                <li style="margin-left:10px;padding-top:8px;">
                    <button type="button" class="btn btn-default btn-danger">
                        <span class="glyphicon glyphicon-question-sign"></span> 帮助
                    </button>
                </li>
            </ul>
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search...">
            </form>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div th:include="treeInfo"></div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="glyphicon glyphicon-th"></i> 课程列表</h3>
                </div>
                <div class="panel-body">
                    <div>
                        <form id="searchForm" class="form-inline" role="form" style="float:left;">

                            <input id="searchKey" class="form-control has-success" type="text"
                                   placeholder="课程名">
                            状态<select id="isAvaliable" class="form-control has-success">
                                <option th:value="1" th:text="正常"></option>
                                <option th:value="2" th:text="删除"></option>
                            </select>
                            专业<select id="subjectId"  class="form-control has-success">
                                    <div th:each="subject:${sysSubjectList}">
                                        <option th:value="${subject.subjectId}" th:text="${subject.subjectName}"></option>
                                    </div>
                            </select>
                            创建时间<input id="minTime" style="width: 135px" type="date" class="form-control has-success"
                                       placeholder="开始创建时间">
                            <input id="maxTime" style="width: 135px" type="date" class="form-control has-success"
                                   placeholder="结束创建时间">
                        </form>
                        <button type="button" id="searchBtn" class="btn btn-warning"><i
                                class="glyphicon glyphicon-search"></i> 查找 </button>
                        <button type="button" class="btn btn-warning"><i class="glyphicon glyphicon-remove"></i> 清空</button>
                        <button type="button" class="btn btn-primary" onclick="window.location.href='add.html'">
                            <i class="glyphicon glyphicon-plus"></i> 新增</button>
                    </div>

                    <hr style="clear:both;">
                    <div class="table-responsive">
                        <table class="table  table-bordered">
                            <thead>
                            <tr>
                                <th width="80">课程名</th>
                                <th width="40">状态</th>
                                <th width="40">专业</th>
                                <th width="40">原价</th>
                                <th width="50">优惠价</th>
                                <th width="40">课时</th>
                                <th width="50">销售量</th>
                                <th width="40">浏览量</th>
                                <th width="80">创建时间</th>
                                <th width="80">有效结束时间</th>
                                <th width="90">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="course:${courseList}">

                                <td th:text="${course.courseName}"></td>
                                <td th:text="(${course.isAvaliable}=='1')?'正常':'删除'"></td>
                                <td th:text="${course.subjectName}"></td>
                                <td th:text="${#numbers.formatDecimal(course.sourcePrice,1,2)}"></td>
                                <td th:text="${#numbers.formatDecimal(course.currentPrice,1,2)}"></td>
                                <td th:text="${course.lessionNum}"></td>
                                <td th:text="${course.pageBuycount}"></td>
                                <td th:text="${course.pageViewcount}"></td>
                                <td th:text="${#dates.format(course.addTime,'yyyy-MM-dd HH:mm:ss')}"></td>

                                <td th:if="${course.losetype==0}" th:text="${#dates.format(course.endTime,'yyyy-MM-dd HH:mm:ss')}"></td>
                                <td th:if="${course.losetype==1}" th:text="${course.loseTime}+天"></td>

                                <td>
                                    <button type="button" onclick="toCourseKpoint(this)" th:value="${course.courseId}" class="btn btn-danger btn-xs"><i
                                            class=" glyphicon glyphicon-pencil"></i>课程章节</button>
                                    <button type="button" onclick="toUpdate(this)" th:value="${course.courseId}" class="btn btn-danger btn-xs"><i
                                            class=" glyphicon glyphicon-pencil"></i>修改</button>
                                    <button type="button"   class="btn btn-danger btn-xs"><i
                                            class=" glyphicon glyphicon-remove"></i>删除</button>
                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="11" align="center">
                                    <ul class="pagination">
                                        <li class="disabled"><a href="#">上一页</a></li>
                                        <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#">4</a></li>
                                        <li><a href="#">5</a></li>
                                        <li><a href="#">下一页</a></li>
                                    </ul>
                                </td>
                            </tr>

                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/jquery/jquery-2.1.1.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/script/docs.min.js"></script>
<script type="text/javascript">
    $(function () {
        $(".list-group-item").click(function () {
            if ($(this).find("ul")) {
                $(this).toggleClass("tree-closed");
                if ($(this).hasClass("tree-closed")) {
                    $("ul", this).hide("fast");
                } else {
                    $("ul", this).show("fast");
                }
            }
        });
    });

    /*模糊查询*/
    $("#searchBtn").click(function () {
        /*alert($("#minTime").val());*/
        $.ajax({
           type:"post",
            url:"/teacher/search",
            data:{
                searchKey:$("#searchKey").val(),
                isStar:$("#isStar").val(),
                minTime:$("#minTime").val(),
                maxTime:$("#maxTime").val()
            },
            beforeSend:function () {
               return true
            },
            success:function (result) {
               if (result.success){
                   var teacherList = result.teacherList;
                   //console.log(userList)
                   var content = "";
                   $.each(teacherList,function (i,n) {

                  content+=' <tr>';
                  content+='         <td >'+n.id+'</td>';
                  content+='         <td >'+n.name+'</td>';
                  content+='         <td >'+n.isStar+'</td>';
                  content+='         <td >'+n.education+'</td>';
                  content+='         <td >'+n.career+'</td>';
                  content+='         <td >'+n.createTime+'</td>';
                  content+='         <td >'+n.sort+'</td>';
                  content+='         <td>';
                  content+='         <button type="button" class="btn btn-primary btn-xs"><i';
                  content+=' class=" glyphicon glyphicon-pencil"></i>修改';
                  content+='         </button>';
                  content+='         <button type="button" class="btn btn-danger btn-xs"><i';
                  content+=' class=" glyphicon glyphicon-remove"></i>删除';
                  content+='         </button>';
                  content+='         </td>';
                  content+='         </tr>';

                   });
                   //console.log(content);
                   $("tbody").html(content);
               }

            }

        });

    });

    function toUpdate(n) {
        var courseId = $(n).val()
        window.location = 'http://localhost:9003/course/toUpdate?courseId='+courseId;
    }
    function toCourseKpoint(n) {
        var courseId = $(n).val()
        window.location = 'http://localhost:9003/course/toCourseKpoint?courseId='+courseId;
    }






</script>
</body>
</html>
